<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Spring Boot example application</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body class="text-center">
	<h1 class="bg-dark text-white p-3"> (Very) simple project manager </h1>

	<form action="#" th:action="@{/projects/add}" 
		th:object="${project}" method="post" class="col-lg-6 offset-lg-3 ">
		
		<div class="form-group justify-content-center">
			<label for="name"> Name </label>
			<input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Name">
		</div>
		
		<div class="form-group justify-content-center">
			<label for="course"> Course </label>
			<input type="text" th:field="*{course}" id="course" class="form-control" placeholder="Course">
		</div>
		
		<div class="form-group justify-content-center">
			<label for="supervisor"> Supervisor </label>
			<input type="text" th:field="*{supervisor}" id="supervisor" class="form-control" placeholder="Supervisor">
		</div>
		
		<input type="submit" value="Add Project" class="btn btn-primary">
		
	</form>
</body>
</html>