<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Spring Boot example application</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body class="text-center">
	<h1 class="bg-dark text-white p-3"> (Very) simple project manager </h1>

	<table class="table">
		<thead>
			<tr>
				<th scope="col"> ID </th>
				<th scope="col"> Name </th>
				<th scope="col"> Course </th>
				<th scope="col"> Supervisor </th>
				<th scope="col"> Actions </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${projects}">
				<td th:text="${project.id}"></td>
				<td th:text="${project.name}"></td>
				<td th:text="${project.course}"></td>
				<td th:text="${project.supervisor}"></td>
				<td><a th:href="@{/projects/{id}/delete(id=${project.id})}" th:text="Delete"></a></td>
			</tr>
		</tbody>
	</table>
	
	<ul class="list-group p-2">
		<li> <a th:href="@{/projects/addProjectForm}" class="list-group-item"> Add new project</a> </li>
	</ul>
	
</body>
</html>